.title{
  color: black;
  font-size: 40px;
  font-family: serif;
  letter-spacing: 2px;
  font-weight: 600;
  display: inline-block;
  float: right;
  padding-right: 30px;
}

.info{
  float: left;
  color: black;
  padding-left: 5px;
  padding-top: 5px;
  font-size: 30px;
  
}

.title:hover{
  opacity: 0.7;
  cursor: pointer;
}

.main{
  background-image: url(https://lh3.googleusercontent.com/lt5ouMAvQCaS_4AK4C1aYFYhaYXpvdBqD3jlMhaXwKVEmya0CkiG5MeFpJXaR30zsJnUGGfgPSPBFsF_MRmJZ4ASwl-1nap1ZiA3N0GD6f1LvhCxvPDETCUphP-RZmni9d1o8Ef1IxWjZ7cx-A7hFcLgz6NKsSnCsqBjZx4qdc7tzixWUMZ0DxrPPkrtWpCXRefkEvYDZoeiPxY7AAL5qC2SY9AFlbd-gj4LH1xlKI20wq1ItHEQQLWVo4qTvXDbhgm-0qJ95SYod5QUtPIdEIchLOO_6W6BlkVAYSOJ3ai4l8NIeTvEfbnVO-7R7W7jxj6z8_RORXzuwJCNxo1lyR6n0CMuDbvelhTNrGIwwghgLa5HpPcI8ouXOuHwfzF__YSeAubR2c3w_aN9jZjmg6GJpD3OO6QF8Nge4oraO6M-HOlip8OFoPMErTqV0YtWy6AUa-b_PAxyXhpDazTyHn-sJBGdPiAo8mvc47mDyrwUpPGV6PVpmm7hv8KHQAmMxTwtNqBD53Ws5kgSYovntp-sBIuHEnHZee99bW3ts0eOaW3ovzi7i_Zznj8rlbMu5RbWCmm60CF1j6L_sbyMJWa7AgghR29KwGvrfXa5y4zXsVkT4XWW2D6T7yoT17zMvq9wfTq0_BoiDfIeCONadGotFD9ItZCfyujw2oHlJQsR-ZxSq1bSNams5K346BANfPPV3pDQGDDew7p4a72NG9URfYUBPoWrXC1lykKkXAp0wst3Uo1525HN=w986-h657-no);
  background-size: cover;

}


header{
  height: 50px;
  width: 100%;
  margin-bottom: 50px;
  background-color: rgba(255, 255, 255, 0.5);

}

.top-wrapper{
  height: 300px;
  padding-top: 700px;
  width: 100%;
}

.top-wrapper h1{
  font-family: serif;
  font-size: 50px;
  letter-spacing: 2px;
  color: black;
  background-color: rgba(255, 255, 255, 0.3);
}

.main-wrapper{
  width: 100%;
  background-color: lightgray;
  margin-top: 100px;
}

.image{
  width: 25%;
  padding: 70px 5px;
  float: left;
  text-align: center;

}

.image:hover{
  cursor: pointer;
}



.text a{
  color: black;
  opacity: 0.8;
  font-family: serif;
  text-align: center;
  font-size: 40px;
  text-decoration: none;
}

.btn{
  display: block;
  border-radius: 4px;
  background-color: white;
  opacity: 0.5;
}
.clear{
  clear: left;
}

.message{
  float: right;
  padding: 20px;
  font-size: 20px;
}
